header {
    text-align: center;
    color: white;
    background-color: #0077B6;
    padding: 1.5em;
    margin: none;
}

nav {
    background-color: white;
    padding-top: 1.5em;
    padding-bottom: 0em;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

a:link {
    color: #0077B6;
    text-decoration: none;
    padding: 1em;
}

a:active {
    color: #0077B6;
    text-decoration: none;
}

a:hover {
    color: #0077B6;
    text-decoration: underline;
}

a:visited {
    color: #0077B6;
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
    color: black;
    background-color: white;
    margin: 1.5em;
}

p {
    font-family: "Roboto", sans-serif;
    color: black;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 1.5em;
}

h2 {
    text-align: center;
}